<% content_for :head do %>
  <%= stylesheet_link_tag "static/how_to_use", "data-turbo-track": "dynamic" %>
<% end %>

<%= render "how_to_use_header" %>

<div class="how-to-use-container">
  <div class="how-to-use-container">
  <h1>ログイン方法</h1>

  <p>このアプリケーションのログイン方法を説明します。</p>
  <p>登録方法は以下の2通りがあります。</p>

  <h2>Googleアカウントでログイン</h2>
  <%= image_tag "login1.png", class: "how-to-use-image" %>
  <p>Googleアカウントで登録ボタンした方は下記の「Googleでログインを押してください」</p>

  <h2>Googleアカウントの選択</h2>
  <%= image_tag "registration6.png", class: "how-to-use-image" %>  
  <p>使用するGoogleアカウントを選択します。</p>

  <h2>ログイン完了です</h2>
  <%= image_tag "login3.png", class: "how-to-use-image" %>

  <h2>メールアドレスでのアカウントログイン</h2>
  <%= image_tag "registration7.png", class: "how-to-use-image" %>
  <p>ログインページで必要な情報を入力します。</p>
  <p>二段階認証を設定している場合は、確認コードも入力してください。</p>

  <h2>ログイン完了です</h2>
  <%= image_tag "login3.png", class: "how-to-use-image" %>
</div>
</div>
