<% content_for :head do %>
  <%= stylesheet_link_tag "static/how_to_use", "data-turbo-track": "dynamic" %>
<% end %>
<%= render "how_to_use_header" %>

<div class="how-to-use-container">
  <div class="how-to-use-container">
  <h1>勤怠管理方法</h1>

  <p>このアプリケーションの勤怠管理方法を説明します。</p>

  <h2>メインページより出勤状況ボタンを押してください</h2>
  <%= image_tag "attendance1.png", class: "how-to-use-image" %>

  <h2>デフォルトは当日ですが上の表から日付を選択できます</h2>
  <%= image_tag "attendance2.png", class: "how-to-use-image" %> 

  <h2>従業員側は当日にならないと出勤ボタンを押すことは出来ません</h2>
  <%= image_tag "attendance3.png", class: "how-to-use-image" %>

  <p>また従業員側は当日になるとグーグルマップボタンが表示され</p>
  <p>現在地から勤務先までのルートを確認できます</p>

</div>
</div>
