<% content_for :head do %>
  <%= stylesheet_link_tag "static/how_to_use", "data-turbo-track": "dynamic" %>
<% end %>

<%= render "how_to_use_header" %>

<div class="how-to-use-container">
  <div class="how-to-use-container">
  <h1>チャット機能の使い方</h1>

  <p>このアプリケーションのチャット機能の使い方を説明します。</p>

  <h2>メインページよりチャットボタンを押してください</h2>
  <%= image_tag "chat1.png", class: "how-to-use-image" %>

  <h2>新規ボタンを押してください</h2>
  <%= image_tag "chat2.png", class: "how-to-use-image" %> 

  <h2>チャットを始めたい従業員を選択します</h2>
  <%= image_tag "chat3.png", class: "how-to-use-image" %>

  <h2>チャット画面が表示されます</h2>
  <%= image_tag "chat4.png", class: "how-to-use-image" %> 

  <p>次回からは既存ページよりチャットに戻れます</p>

</div>
</div>