<%= form_with(model: office) do |form| %>
  <% if office.errors.any? %>
    <div class="error-text">
      <ul>
        <% office.errors.each do |error| %>
          <%= error.message %>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, class: "block-label" %>
    <%= form.text_field :name, required: true %>
  </div>

  <div class="flexbox">
    <%= form.submit t(".submit") ,class: "flex-btn"%>
  </div>

<% end %>
