<div id="<%= dom_id user %>">
    <p>
      <strong><%= t(".name") %></strong>
      <%= user.name %>
    </p>

    <p>
      <strong><%= t(".address") %></strong>
      <%= user.address %>
    </p>
</div>
