<div id="<%= dom_id client %>">
    <p>
      <strong><%= t(".name") %></strong>
      <%= client.name %>
    </p>

    <p>
      <strong><%= t(".address") %></strong>
      <%= client.address %>
    </p>
</div>
