<div id="<%= dom_id client_need %>">
  <div class="shift <%= "night" if client_need.shift_type == "night" %>">

    <strong><%= t("activerecord.attributes.client_need.shift_types.#{client_need.shift_type}") %></strong>

    <%= l client_need.start_time %>
    <strong>～</strong>
    <%= l client_need.end_time %>
    <br>
    <strong><%= t(".slots") %></strong>
    <%= client_need.slots %>

  <%= button_to "消去", team_client_client_need_path(client_need.client.team_id, client_need.client_id, client_need), method: :delete, form: { data: { turbo_confirm: "delete?" } },class: "flex-btn" %>

 </div>
</div>
